// COLORS
$primary-color: #e1b12c;
$secondary-color: #fbc531;
$dm-primary-color: #e1b12c;
$dm-secondary-color: #fbc531;
$font-family: "Poppins", sans-serif;

$light-white: #f5f6fa;
$white-color: #f5f6fa;
$light-grey: #a5a7b1;
$dark-grey: #2f3640;

$dark-blue-text: #2f3542; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
